<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676079174860-0ul1s08b5lehmm45qd0p0cno0e6q2oke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676079174860-0ul1s08b5lehmm45qd0p0cno0e6q2oke</string>
	<key>API_KEY</key>
	<string>AIzaSyDBMIy1t4k_X-ijzoERxpOwsvvTJWUEAaI</string>
	<key>GCM_SENDER_ID</key>
	<string>676079174860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleMarket</string>
	<key>PROJECT_ID</key>
	<string>carrot-market-clone-2c6e3</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-market-clone-2c6e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676079174860:ios:fd9903af8f73a510f96e69</string>
</dict>
</plist>